/* Importing custorm fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

/* Write your own custom base styles here */
/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
/* For Transition */
html {
  overflow-y: scroll;
}

/* For Hiding that arrow symbols in input number field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* My own custom classes */
/* Custom Button */
@layer utilities {
  .transition-css {
    @apply transition duration-500 ease-in-out;
  }

  .btn {
    @apply rounded-full tracking-wide
        font-semibold focus:outline-none focus:ring-1 focus:ring-primaryAccent hover:bg-primaryAccent
        shadow-lg transition-css disabled:opacity-50;
  }

  /* Edit Button */
  .edit-btn {
    @apply rounded-2xl font-semibold px-8 py-1.5 uppercase tracking-wide bg-primary text-white cursor-pointer focus:outline-none;
  }

  /* A chip */
  .chip {
    @apply rounded-full text-xs text-gray-200 font-semibold capitalize focus:outline-none focus:ring-0;
  }
}
